*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 100%;
}
body{
    background-color: lightblue;
    text-align: center;
}

h1{
    margin: 5px;    
    font-weight: bold;
    font-size: 250%;
}

.navigation-bar ul{
    display: flex;
    justify-content: space-around;
    background-color: white;
    border: 2px solid black;
    border-width: 2px 0px 2px 0px;    
    list-style-type: none;
    padding: 5px;
}
.navigation-bar ul li a{
    color: blue;
    text-decoration: none;
}

h2{
    margin: 10px 0px 0px 0px;
    font-size: 150%;
    font-weight: bold;
}

.story-list-section{
    display: flex;    
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.story-block{
    display: flex;    
    flex-direction: column;
    justify-content: center;
    border: 2px solid black;
    border-radius: 5px;
    margin-bottom: 10px;
    height: 250px;
    width: 300px;
    padding: 1px;
    background-color: lightskyblue;    
}

.story-block-top{
    display: flex;   
    justify-content: start;  
    align-items: center;  
    height: 15%;
    margin: 1px;
}
.story-block-top div{
    display: flex;    
    justify-content: center;  
    align-items: center; 
}
.story-title-publish{
    display: flex;    
    flex-direction: column;
    width: 70%;
    background-color: white;  
    border-radius: 2px;
    height: 100%;
    margin: 1px;
}
.story-title{
    font-weight: bold;
    width: 100%;
}
.story-publish-date{
    font-style: italic;
    font-size: x-small;
    width: 100%;
    align-items: center; 
}
.story-topic{ 
    width: 30%;
    height: 100%;
    background-color: white;  
    border-radius: 2px;
    margin: 1px;
}

.story-block-middle{
    display: flex;    
    justify-content: center;  
    align-items: center; 
    height: 75%;
    background-color: white;  
    border-radius: 2px;
    padding: 2px;
    margin: 2px;
}

.story-block-bottom{
    display: flex;    
    justify-content: start;  
    align-items: center; 
    width: 100%;
    height: 10%;     
    margin: 1px;
}
.story-block-bottom div{
    display: flex;    
    justify-content: center;  
    align-items: center; 
}
.story-author{ 
    width: 50%; 
    height: 100%;
    background-color: white;  
    border-radius: 2px;
    margin: 1px;
}
.story-views{
    width: 25%;
    height: 100%; 
    background-color: white;  
    border-radius: 2px; 
    margin: 1px;
}
.story-views svg{
    margin-right: 5px;
}

.story-likes{
    width: 25%;
    height: 100%; 
    background-color: white;  
    border-radius: 2px; 
    margin-left: 1px;
    margin-right: 3px;
}
.story-likes svg{
    margin-right: 5px;
}

.register-form-section{
    display: flex;    
    flex-direction: column;
    align-items: center;
}
.register-form-section p{
    margin: 10px;
}
.register-form-inputs{
    margin: 5px;
}
.register-form-inputs input{
    border: 2px solid black;
    border-radius: 50px;
    background-color: white;
    padding: 7.5px 15px 7.5px 15px;
    width: 300px;
}
.register-form-section label{
    color: black;
    font-size: large;
    font-weight: bold;
}
.register-form-submit input{
    color: black;
    font-size: large;
    font-weight: bold;
    border: 2px solid black;
    border-radius: 50px;
    background-color: white;
    padding: 7.5px 15px 7.5px 15px;;
    margin: 10px;
}