:root {
    --text-hover: rgba(255, 193, 59);
    --base-text: rgb(10, 10, 10);
  }
  

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 100%;
}

body{        
    background-color: white;
    text-align: center;
}

.page-container{
    max-width: 1920px;
    background: url("/static/images/books_background.jpg") no-repeat center;
    background-size: 25%;
    background-repeat: repeat;    
    min-height: 100vh;
    margin: auto;
    border: solid black;
    border-width: 0px 2px 0px 2px;
}

/* Header - Includes Site Logo and Navigation Bar */
header{    
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;    
    background-color: white;
    border: solid black;
    border-width: 0px 0px 2px 0px;
    padding: 5px;
}
.site-logo{
    width: 20%;
    flex-basis: 50%;
}
h1{
    margin: 0;    
    padding: 5px;
    float: left;
    font-weight: bold;
    font-size: 200%;
}
h1 a{
    color: black;
    text-decoration: none;
}
h1 a:hover {
    color: var(--text-hover); 
}
.fa-book{
    margin-right: 10px;
}
.navigation-bar{
    width: 50%;
    margin: auto;
    padding: 5px;
}
.navigation-bar ul{ 
    width: 100%; 
    text-align: center;
    display: flex;
    justify-content: flex-end;
    align-items: center;       
    list-style-type: none;
}
.navigation-bar ul li{   
    display: inline-block;    
    padding: 0 5px 5px 5px;
    margin: 0px 15px 0px 15px;
    border-bottom: 3px solid transparent;  
}
.navigation-bar ul li:hover {
    border-color: var(--text-hover);  
}
.navigation-bar ul li a{
    margin: auto;
    color: black;
    font-weight: bold;
    text-decoration: none;
}

/* Flash messages */
.flashes{
    background-color: rgba(0, 0, 0, 0.4);
    border: 2px solid black;
    border-width: 2px 0px 2px 0px; 
    margin: 2px 0px 2px 0px;
}
.flashes h4{
    color: white;
    padding: 2px;
}

/* Page Titles */
h2{
    width: 100%;
    padding: 10px 0px 10px 20px;
    font-size: 160%;
    font-weight: bold;
    text-align: center;
    color: white;
    text-shadow: 0 2px 5px black;   
    background: linear-gradient(0deg, hwb(0 0% 100% / 0) 10%, hsla(0, 0%, 0%, 0.80) 30%); 
}

/* Explore Tales Search Bar */
.search-filter-block{
    width: 100%;
    padding: 0px 0px 20px 0px;
    margin: 0px 0px 10px 0px;
    text-shadow: 0 2px 5px black;
    background: linear-gradient(0deg, hwb(0 0% 100% / 0) 10%, hsla(0, 0%, 0%, 0.76) 50%); 
}
.search-bar label{
    font-weight: bold;
    font-size: 110%;   
    color: white;
    text-shadow: 0 -1px 2px black; 
}
.search-bar input{
    border: 2px solid black;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0px 2px hsla(0, 0%, 0%, 0.5);
    padding: 7.5px 15px 7.5px 15px;
    width: 75%;
}
.search-clear-submit button{
    color: black;
    font-size: large;
    font-weight: bold;
    border: 2px solid black;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0px 2px hsla(0, 0%, 0%, 0.5);
    padding: 7.5px 15px 7.5px 15px;
    margin: 10px;
}

/* Explore Tales - Tale Section*/
.tale-list-section{
    display: flex;  
    flex-wrap: wrap;
    justify-content: space-around;
    flex-basis: 33.333333%;
    padding: 10px;
}
.tale-block{
    display: flex;    
    flex-direction: column;
    justify-content: center;
    border: 2px solid black;
    border-radius: 5px;
    margin-bottom: 10px;
    height: 325px;
    width: 475px;
    padding: 4px;
    background: linear-gradient(0deg, hwb(41 23% 0% / 0.801) 50%, hsla(34, 100%, 51%, 0.949) 100%); 
    box-shadow: 0px 5px hsla(0, 0%, 0%, 0.5);
}
.tale-block-top{
    display: flex;   
    justify-content: start;  
    align-items: center;  
    height: 20%;
    margin: 2px 1px 1px 1px;    
}
.tale-block-top div{
    display: flex;    
    justify-content: center;  
    align-items: center;     
}
.tale-title-publish{
    display: flex;    
    flex-direction: column;
    width: 70%;
    background-color: white; 
    border: 2px solid black; 
    border-radius: 2px;
    height: 100%;
    margin: 1px;
}
.tale-title{
    font-weight: bold;
    width: 100%;
}
.tale-title a{
    text-decoration: underline;
    color: black;
}
.tale-publish-date{
    font-style: italic;
    font-size: x-small;
    width: 100%;
    align-items: center;
    padding: 2px; 
}
.tale-topic{ 
    font-weight: bold;
    width: 30%;
    height: 100%;
    background-color: white; 
    border: 2px solid black;  
    border-radius: 2px;
    margin: 1px;
}

.tale-block-middle{
    display: flex;    
    justify-content: center;  
    align-items: center; 
    text-align: justify;
    height: 65%;
    background-color: white;
    border: 2px solid black;   
    border-radius: 2px;
    padding: 10px;
    margin: 2px;
}

.tale-block-bottom{
    display: flex;    
    justify-content: start;  
    align-items: center; 
    width: 100%;
    height: 15%;     
    margin: 1px;
}
.tale-block-bottom div{
    display: flex;    
    justify-content: center;  
    align-items: center; 
}
.tale-author{ 
    font-weight: bold;
    width: 50%; 
    height: 100%;
    background-color: white;  
    border: 2px solid black; 
    border-radius: 2px;
    margin: 1px;
}
.tale-views{
    width: 25%;
    height: 100%; 
    background-color: white;
    border: 2px solid black;   
    border-radius: 2px; 
    margin: 1px;
}
.tale-views svg{
    margin-right: 5px;
}

.tale-likes{
    width: 25%;
    height: 100%; 
    background-color: white;
    border: 2px solid black;   
    border-radius: 2px; 
    margin-left: 1px;
    margin-right: 3px;
}
.tale-likes a{
    text-decoration: none;
    color: black;
}
.tale-likes svg{
    margin-right: 5px;
}


/* Full Tale Section*/
.fulltale-section{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.fulltale-block{
    padding: 0px 10vw 0px 10vw;
}
.fulltale-author{
    font-weight: bold;
    font-size: 125%;   
    color: white;
    text-shadow: 0 -1px 2px black; 
    margin: 0 0 20px 0;
}
.edit-delete{
    color: black;
    width: 100%;
    text-decoration: none;
    padding: 5px;
    border: 2px solid black; 
    border-radius: 5px;  
    background-color: rgb(255, 168, 55);
    box-shadow: 0px 2px hsla(0, 0%, 0%, 0.5);
}
.fulltale-publish-date{
    float: right;
    font-size: 75%;
}
.fulltale-views-likes{
    display: flex;    
    justify-content: space-around;
    background-color: white;
    border: 2px solid black;
    border-radius: 5px;
    width: 100%;
    padding: 5px;
    margin: 20px 0 10px 0;
}
.fulltale-views-likes div{
    margin: 5px 20px 5px 20px;
}
.fulltale-views{ 
    border-radius: 2px; 
    margin: 1px;
}
.fulltale-views svg{
    margin-right: 5px;
}
.fulltale-likes{
    border-radius: 2px; 
    margin-left: 1px;
    margin-right: 3px;
}
.fulltale-likes a{
    text-decoration: none;
    color: black;
}
.fulltale-likes svg{
    margin-right: 5px;
}
.liked{
    color: red;
}
.fulltale-content{
    background-color: white;
    border: 2px solid black;
    border-radius: 5px;
    padding: 5px;
    width: 100%;
    margin: 10px 0 10px 0;
}

/* New Tale Section*/
.newtale-link{
    display: flex;    
    flex-direction: column;
    align-items: center;
    margin: auto;
}
.newtale-link a{    
    color: black;
    font-weight: bold;
    text-decoration: none;
    width: 50vw;
    padding: 2px;
    margin: 5px;
    border: 2px solid black; 
    border-radius: 5px;  
    background-color: rgb(251, 204, 13);
}
.newtale-form-section{
    display: flex;    
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
}
.newtale-form-section p{
    margin: 10px;
    font-size: 125%;
    color: white;
    text-shadow: 0 -1px 2px black; 
}
.newtale-form-section label{
    color: white;
    text-shadow: 0 -1px 2px black; 
    font-size: large;
    font-weight: bold;
}

.tale-form-inputs{
    margin: 5px;
}
.tale-form-inputs input{
    border: 2px solid black;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.75);
    padding: 7.5px 15px 7.5px 15px;
    width: 80vw;    
    box-shadow: 0px 2px hsla(0, 0%, 0%, 0.5);
}
.tale-form-inputs select{
    border: 2px solid black;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.75);
    padding: 7.5px 15px 7.5px 15px;
    width: 80vw;    
    box-shadow: 0px 2px hsla(0, 0%, 0%, 0.5);
}
.tale-form-submit input{
    color: black;
    font-size: large;
    font-weight: bold;
    border: 2px solid black;
    border-radius: 10px;
    background-color: rgb(255, 168, 55);
    padding: 7.5px 15px 7.5px 15px;
    width: 80vw;
    margin: 10px;
    box-shadow: 0px 2px hsla(0, 0%, 0%, 0.5);
}
.tale-blurb{
    border: 2px solid black;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.75);
    padding: 7.5px 15px 7.5px 15px;
    width: 80vw;
    height: 200px;    
    box-shadow: 0px 2px hsla(0, 0%, 0%, 0.5);
}
.tale-content{
    border: 2px solid black;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.75);
    padding: 7.5px 15px 7.5px 15px;
    width: 80vw;
    height: 600px;
    box-shadow: 0px 2px hsla(0, 0%, 0%, 0.5);
}


/* Edit Tale Section*/
.edittale-form-section{
    display: flex;    
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
}
.edittale-form-section p{
    width: 80vw;
    margin: 10px;
    font-size: 125%;
    color: white;
    text-shadow: 0 -1px 2px black; 
}
.edittale-form-section label{
    color: white;
    text-shadow: 0 -1px 2px black; 
    font-size: large;
    font-weight: bold;
}
.delete{
    color: white;
    width: 50vw;
    text-decoration: none;
    padding: 5px;
    margin: 5px 0px 10px 0px;
    border: 2px solid black; 
    border-radius: 5px;  
    background-color: rgba(255, 55, 55);
    box-shadow: 0px 2px hsla(0, 0%, 0%, 0.5);
}

/* Delete Tale Section*/
.delete-section{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 300px;
}
.delete-section h2{
    margin: 10px;
}
.delete-section p{
    margin: 20px;
    font-size: 125%;
}
.delete-choices div{
    font-size: large;
    font-weight: bold;
    padding: 5px;
    border: 2px solid black;
    border-radius: 5px;
    background-color: white;
    margin: 10px;
}
.delete-choices a{
    text-decoration: none;
}
.delete-cancel a{
    color: blue;
}
.delete-confirm a{
    color: red;
}


/* Login Section*/
.login-form-section{
    display: flex;    
    flex-direction: column;
    align-items: center;
}
.login-form-section p{
    margin: 10px;
}
.login-form-inputs{
    margin: 5px;
}
.login-form-inputs input{
    border: 2px solid black;
    border-radius: 50px;
    background-color: white;
    padding: 7.5px 15px 7.5px 15px;
    width: 300px;
}
.login-form-section label{
    color: black;
    font-size: large;
    font-weight: bold;
}
.login-form-submit input{
    color: black;
    font-size: large;
    font-weight: bold;
    border: 2px solid black;
    border-radius: 50px;
    background-color: white;
    padding: 7.5px 15px 7.5px 15px;;
    margin: 10px;
}

/* Register Section*/
.register-form-section{
    display: flex;    
    flex-direction: column;
    align-items: center;
}
.register-form-section p{
    margin: 10px;
}
.register-form-inputs{
    margin: 5px;
}
.register-form-inputs input{
    border: 2px solid black;
    border-radius: 50px;
    background-color: white;
    padding: 7.5px 15px 7.5px 15px;
    width: 300px;
}
.register-form-section label{
    color: black;
    font-size: large;
    font-weight: bold;
}
.register-form-submit input{
    color: black;
    font-size: large;
    font-weight: bold;
    border: 2px solid black;
    border-radius: 50px;
    background-color: white;
    padding: 7.5px 15px 7.5px 15px;;
    margin: 10px;
}



/* Footer*/
footer{
    padding: 10px 0 10px 0;
    border: solid rgba(0, 0, 0, 0.75);
    border-width: 2px 0px 0px 0px;
}

/* Devices with width smaller than 600px*/
@media only screen and (max-width: 600px) {
    .site-logo{
        width: 100%;
        flex-basis: 100%;
    }
    h1{
        margin: 0;    
        padding: 5px;
        float: none;
        font-weight: bold;
        font-size: 200%;
    }
    .navigation-bar{
        width: 100%;
    }
    .navigation-bar ul{ 
        width: 100%;
        justify-content: space-around;
        align-items: center;       
        list-style-type: none;
    }
    .navigation-bar ul li{ 
        justify-content: space-evenly;
        margin: 0;
        padding: 0;
    }

    h2{
        font-size: 125%;
        text-align: center;
    }
}