{% extends "base.html" %}
{% block content %}
<!-- Edit Tale Form - For user's to edit an existing submitted tales content -->
<div class="edittale-form-section">

    <h2>Edit Your Tale</h2>

    <!-- Form instruction -->
    <p>Complete the form below to edit Your Tale.</p>

    <a class="delete" href="{{ url_for( 'tales.deletetale', _id=tale._id ) }}">Delete this Tale</a>

    <form class="edittale-form" method="POST" action="{{ url_for( 'tales.edittale', _id=tale._id ) }}">

    <!-- Title -->
    <label for="title">Tale Title</label><br>
    <div class="tale-form-inputs">
        <input type="text" id="title" name="title"
        minlength="3" maxlength="30" value="{{ tale.tale_title }}" required><br>
    </div>

    <!-- Topic -->
    <label for="topic">Tale Topic</label><br>
    <div class="tale-form-inputs">
        <select name="topic" id="topic" value="{{ tale.tale_topic }}">
            <option value="{{ tale.tale_topic }}">{{ tale.tale_topic }}</option>
            {% if tale.tale_topic != "Adventure" %}
                <option value="Adventure">Adventure</option>
            {% endif %}

            {% if tale.tale_topic != "Fantasy" %}
                <option value="Fantasy">Fantasy</option>
            {% endif %}

            {% if tale.tale_topic != "Science Fiction" %}
                <option value="Science Fiction">Science Fiction</option>
            {% endif %}

            {% if tale.tale_topic != "Horror" %}
                <option value="Horror">Horror</option>
            {% endif %}

            {% if tale.tale_topic != "Comedy" %}
                <option value="Comedy">Comedy</option>
            {% endif %}

            {% if tale.tale_topic != "Romance" %}
                <option value="Romance">Romance</option>
            {% endif %}

            {% if tale.tale_topic != "Crime" %}
                <option value="Crime">Crime</option>
            {% endif %}

            {% if tale.tale_topic != "Thriller" %}
                <option value="Thriller">Thriller</option>
            {% endif %}

            {% if tale.tale_topic != "Mystery" %}
                <option value="Mystery">Mystery</option>
            {% endif %}
        </select>
    </div>

    <!-- Blurb -->
    <label for="blurb">Tale Blurb</label><br>
    <div class="tale-form-inputs">
        <textarea id="tale-blurb"  class="tale-blurb" name="tale-blurb" cols="30" rows="10" maxlength="400" required>{{ tale.tale_blurb }}</textarea>
    </div>

    <!-- Tale Content -->
    <label for="tale-content">Your Tale</label><br>
    <div class="edittale-form-inputs">
        <textarea id="tale-content"  class="tale-content" name="tale-content" cols="30" rows="10">{{ tale.tale_content }}</textarea>
    </div>    

    <div class="tale-form-submit">
        <input type="submit" id="edittale-submit" name="edittale-submit" value="Re-Share Your Tale"><br>
    </div>
    </form>
</div>
{% endblock %}