{% extends "base.html" %}
{% block content %}

<h2>{{tale.tale_title}}</h2>

<div class="fulltale-section">
    <div class="fulltale-block">    

        <div class="fulltale-author">By {{tale.tale_author}}</div>
        
        {% if session["logged_in"] %}
            {% if tale.tale_author == session["user"] %}
                <a class="edit-delete" href="{{ url_for( 'tales.edittale', _id=tale._id ) }}">Edit / Delete Tale</a>
            {% endif %}
        {% endif %}  

        <div class="fulltale-views-likes">
            <div class="fulltale-views"><i class="fa-solid fa-eye"></i>{{tale.tale_views}}</div>
            <div class="fulltale-likes">
                {% if (session["logged_in"]) and (tale.tale_author != session["user"]) %}
                    {% if _id in session["liked"] %}
                    <a href="{{ url_for( 'tales.like_tale', _id=tale._id ) }}">
                        <i class="fa-solid fa-heart liked"></i>{{tale.tale_likes}}
                    </a>
                    {% else %}
                    <a href="{{ url_for( 'tales.like_tale', _id=tale._id ) }}">
                        <i class="fa-solid fa-heart"></i>{{tale.tale_likes}}
                    </a>
                    {% endif %}
                {% else %}
                    <i class="fa-solid fa-heart"></i>{{tale.tale_likes}}
                {% endif %}
            </div>
        </div>

        <div class="fulltale-content">
            <div class="fulltale-publish-date">Published: {{tale.tale_publish_date}}</div><br>            
            {{tale.tale_content}}
        </div>
    </div> 

</div>
{% endblock %}
