{% extends "base.html" %}
{% block content %}
    <h2>Edit Your Tale</h2>

    <div class="edittale-form-section">
        <!-- Form instruction -->
        <p>Complete the form below to edit Your Tale.</p>
        <form class="edittale-form" method="POST" action="{{ url_for( 'edittale', _id=tale._id ) }}">            
        <!-- Title -->
        <label for="title">Tale Title</label><br>
        <div class="edittale-form-inputs">
            <input type="text" id="title" name="title"
            minlength="3" maxlength="30" value="{{ tale.tale_title }}" required><br>
        </div>

        <!-- Blurb -->
        <label for="blurb">Tale Blurb</label><br>
        <div class="edittale-form-inputs">
            <input type="text" id="blurb" name="blurb"
            minlength="3" maxlength="60" value="{{ tale.tale_blurb }}" required><br>
        </div>

        <!-- Topic -->
        <label for="topic">Tale Topic</label><br>
        <div class="edittale-form-inputs">
            <select name="topic" id="topic" value="{{ tale.tale_topic }}">
                <option value="Adventure">Adventure</option>
                <option value="Fantasy">Fantasy</option>
                <option value="Science Fiction">Science Fiction</option>
                <option value="Horror">Horror</option>
                <option value="Comedy">Comedy</option>
                <option value="Romance">Romance</option>
                <option value="Crime">Crime</option>
                <option value="Thriller">Thriller</option>
                <option value="Mystery">Mystery</option>
              </select>
        </div>

        <!-- Tale Content -->
        <label for="tale-content">Your Tale</label><br>
        <div class="edittale-form-inputs">
            <textarea id="tale-content"  class="tale-content" name="tale-content" cols="30" rows="10">{{ tale.tale_content }}</textarea>
        </div>    

        <div class="edittale-form-submit">
            <input type="submit" id="edittale-submit" name="edittale-submit" value="Re-Share Your Tale" required><br>
        </div>
        </form>
    </div>
{% endblock %}