{% extends "base.html" %}
{% block content %}
    <h2>{{ username }}'s Tales</h2>
    <a href="{{ url_for( 'newtale') }}">Add a New Tale</a>

    <div class="tale-list-section">    
        {% for tale in tales %}
        <div class="tale-block">
            <a href="{{ url_for( 'edittale', _id=tale._id ) }}">Edit / Delete Tale</a>
            <div class="tale-block-top">
                <div class="tale-title-publish">
                    <div class="tale-title">{{tale.tale_title}}</div>
                    <div class="tale-publish-date">Published: {{tale.tale_publish_date}}</div>
                </div>
                <div class="tale-topic">{{tale.tale_topic}}</div>
            </div>

            <div class="tale-block-middle">{{tale.tale_blurb}}</div>

            <div class="tale-block-bottom">
                <div class="tale-author">{{tale.tale_author}}</div>
                <div class="tale-views"><i class="fa-solid fa-eye"></i>{{tale.tale_views}}</div>
                <div class="tale-likes"><i class="fa-solid fa-heart"></i>{{tale.tale_likes}}</div>
            </div>
        </div>
        {% endfor %}
    </div>

{% endblock %}
