{% extends "base.html" %}
{% block content %}
<div class="navigation-bar">
    <ul>
        <li><a href="{{ url_for( 'get_stories') }}">Explore Tales</a></li>
        <li><a href="#Inspiration">Inspiration</a></li>
        <li><a href="{{ url_for( 'register') }}">Log in</a></li>
    </ul> 
</div>

    <h2>Explore Tales</h2>

    <div class="story-list-section">    
        {% for story in stories %}
        <div class="story-block">

            <div class="story-block-top">
                <div class="story-title-publish">
                    <div class="story-title">{{story.story_title}}</div>
                    <div class="story-publish-date">Published: {{story.story_publish_date}}</div>
                </div>
                <div class="story-topic">{{story.story_topic}}</div>
            </div>

            <div class="story-block-middle">{{story.story_blurb}}</div>

            <div class="story-block-bottom">
                <div class="story-author">{{story.story_author}}</div>
                <div class="story-views"><i class="fa-solid fa-eye"></i>{{story.story_views}}</div>
                <div class="story-likes"><i class="fa-solid fa-heart"></i>{{story.story_likes}}</div>
            </div>
        </div>
        {% endfor %}

    </div>

{% endblock %}
