<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mini Tales - Explore Tales</title>
</head>
<body>
    {% for story in stories %}
        {{ story.story_title}}<br>
        {{ story.story_author}}<br>
        {{ story.story_topic}}<br>
        {{ story.story_content}}<br>
        {{ story.story_publish_date}}<br>
        {{ story.story_likes}}<br>
        {{ story.story_views}}<br>
    {% endfor %}
</body>
</html>