{% extends "base.html" %}
{% block content %}
    <h2>Explore Tales</h2>

    <div class="search-filter-block">
        <form class="search-form" method="POST" action="{{ url_for( 'get_tales') }}">
            <div class="search-bar">  
                <label for="search-input">Search:</label>
                <input type="text" id="search-input" name="search-input" minlength="3" maxlength="30" >
            </div>        
            <div class="topic-filter">
                <label for="topic">Filter Topic:</label><br>
                <div class="topic-filter">
                    <select name="topic" id="topic">
                        <option value="">- - -</option>
                        <option value="Adventure">Adventure</option>
                        <option value="Fantasy">Fantasy</option>
                        <option value="Science Fiction">Science Fiction</option>
                        <option value="Horror">Horror</option>
                        <option value="Comedy">Comedy</option>
                        <option value="Romance">Romance</option>
                        <option value="Crime">Crime</option>
                        <option value="Thriller">Thriller</option>
                        <option value="Mystery">Mystery</option>
                    </select>
                </div>
            </div>
            <div class="search-form-submit">
                <input type="submit" id="search-submit" name="search-submit" value="Search / Filter" required><br>
            </div>
        </form>
    </div>

    <div class="tale-list-section">    
        {% for tale in tales %}
        <div class="tale-block">

            <div class="tale-block-top">
                <div class="tale-title-publish">
                    <div class="tale-title"><a href="{{ url_for( 'tale', _id=tale._id ) }}">{{tale.tale_title}}</a></div>
                    <div class="tale-publish-date">Published: {{tale.tale_publish_date}}</div>
                </div>
                <div class="tale-topic">{{tale.tale_topic}}</div>
            </div>

            <div class="tale-block-middle">{{tale.tale_blurb}}</div>

            <div class="tale-block-bottom">
                <div class="tale-author">{{tale.tale_author}}</div>
                <div class="tale-views"><i class="fa-solid fa-eye"></i>{{tale.tale_views}}</div>
                <div class="tale-likes"> 
                    {% if session["logged_in"] %}
                        {% if tale._id|string in session["liked"] %}
                        <a href="{{ url_for( 'like_tale', _id=tale._id ) }}">
                            <i class="fa-solid fa-heart liked"></i>{{tale.tale_likes}}
                        </a>
                        {% else %}
                        <a href="{{ url_for( 'like_tale', _id=tale._id ) }}">
                            <i class="fa-solid fa-heart"></i>{{tale.tale_likes}}
                        </a>
                        {% endif %}
                    {% else %}
                        <i class="fa-solid fa-heart"></i>{{tale.tale_likes}}
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

{% endblock %}
