/* Global variables for site colours */
:root {
    --site-logo: rgb(10, 10, 10);
    --text-hover: rgba(255, 193, 59);
    --off-white-text: rgba(240, 240, 240);
    --base-text: rgb(10, 10, 10);
    --base-border: rgb(10, 10, 10);
    --off-white: rgba(255, 255, 255, 0.95);
    --flashes: rgb(244, 68, 68);
    --tale-block-bg: linear-gradient(0deg, rgb(251, 204, 13, 0.6) 50%, rgb(244, 68, 68, 0.75) 100%);
    --tale-block-border: rgba(255, 255, 255, 0.25);
    --bg-overlay: rgba(0, 0, 0, 0.65);
    --button-bg: rgb(251, 204, 13);
    --box-shadows: rgba(0, 0, 0, 0.5);
    --text-shadows: rgb(10, 10, 10)
  }  

/* Default Site layout */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 100%;
}

/* Body */
body{        
    background-color: var(--off-white);
    text-align: center;
}

/* Main Site/Page container with background overlay */
.page-container{
    max-width: 1920px;
    background: url("/static/images/books_background.jpg") no-repeat center;
    background-size: 25%;
    background-repeat: repeat;    
    min-height: 100vh;
    margin: auto;
    border: solid var(--base-border);
    border-width: 0 2px 0 2px;    
}
.background-overlay{
    background: var(--bg-overlay);
    min-height: 100vh;
}

/* Header - Includes Site Logo and Navigation Bar */
header{    
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;    
    background-color: var(--off-white);
    border: solid var(--base-border);
    border-width: 0 0 2px 0;
    padding: 5px;
}
.site-logo{
    width: 20%;
    flex-basis: 50%;
}
h1{
    margin: 0 0 10px 0;    
    padding: 5px;
    float: left;
    font-weight: bold;
    font-size: 200%;
}
h1 a{
    color: var(--site-logo);
    text-decoration: none;
}
h1 a:hover {
    color: var(--text-hover); 
}
.book-icon{
    margin-right: 5px;
    height: 24px;
}
.navigation-bar{
    width: 50%;
    margin: auto;
    padding: 5px;
}
.navigation-bar ul{ 
    width: 100%; 
    text-align: center;
    display: flex;
    justify-content: flex-end;
    align-items: center;       
    list-style-type: none;
}
.navigation-bar ul li{   
    display: inline-block;    
    padding: 0 5px 5px 5px;
    margin: 0 15px 0 15px;
    border-bottom: 3px solid transparent;  
}
.navigation-bar ul li:hover {
    border-color: var(--text-hover);  
}
.navigation-bar ul li a{
    margin: auto;
    color: var(--base-text);
    font-weight: bold;
    text-decoration: none;
}

/* Flash messages */
.flashes{
    background-color: var(--flashes);
}
.flashes h4{
    color: var(--off-white-text);
    padding: 5px;
}

/* Validation Alerts */
.validation-alert-container{
    display: none;
    background-color: var(--flashes);
}
.validation-alert-container h4{
    color: var(--off-white-text);
    padding: 5px;
}

/* Page Titles */
h2{
    width: 100%;
    padding: 10px 0 10px 0;
    font-size: 160%;
    font-weight: bold;
    text-align: center;
    color: var(--off-white-text);
    text-shadow: 0 2px 5px var(--text-shadows);   
}

/* Explore Tales Search Bar */
.search-filter-block{
    width: 100%;
    padding: 0 0 20px 0;
    text-shadow: 0 2px 5px var(--text-shadows);   
}
.search-bar label{
    font-weight: bold;
    font-size: 110%;   
    color: var(--off-white-text);
    text-shadow: 0 2px 5px var(--text-shadows);   
}
.search-bar input{
    border: 2px solid var(--base-border);
    border-radius: 10px;
    background-color: var(--off-white);
    box-shadow: 0 2px var(--box-shadows);
    padding: 7.5px 15px 7.5px 15px;
    width: 75%;
}
.search-clear-submit button{
    color: black;
    font-size: large;
    font-weight: bold;
    border: 2px solid var(--off-white);
    border-radius: 10px;
    background-color: var(--button-bg);
    box-shadow: 0 2px var(--box-shadows);
    padding: 7.5px 15px 7.5px 15px;
    margin: 10px;
}

/* Explore Tales - Tale Section*/
.tale-list-section{
    display: flex;  
    flex-wrap: wrap;
    justify-content: space-around;
    flex-basis: 33.333333%;
    padding: 10px;    
}
.tale-block{
    display: flex;    
    flex-direction: column;
    justify-content: center;
    border: 2px solid var(--tale-block-border); 
    border-radius: 5px;
    margin-bottom: 10px;
    height: 325px;
    width: 475px;
    padding: 4px;
    background: var(--tale-block-bg); 
    box-shadow: 0 2px var(--box-shadows);
}
.tale-block-top{
    display: flex;   
    justify-content: start;  
    align-items: center;  
    height: 20%;
    margin: 2px 1px 1px 1px;    
}
.tale-block-top div{
    display: flex;    
    justify-content: center;  
    align-items: center;     
}
.tale-title-publish{
    display: flex;    
    flex-direction: column;
    width: 70%;
    background-color: var(--off-white); 
    border: 2px solid var(--base-border); 
    border-radius: 2px;
    height: 100%;
    margin: 1px;
}
.tale-title{
    font-weight: bold;
    width: 100%;
}
.tale-title a{
    text-decoration: underline;
    color: var(--base-text);
}
.tale-publish-date{
    font-style: italic;
    font-size: x-small;
    width: 100%;
    align-items: center;
    padding: 2px; 
}
.tale-topic{ 
    font-weight: bold;
    width: 30%;
    height: 100%;
    background-color: var(--off-white); 
    border: 2px solid var(--base-border);  
    border-radius: 2px;
    margin: 1px;
}

.tale-block-middle{
    display: flex;    
    justify-content: center;  
    align-items: center; 
    text-align: justify;
    height: 65%;
    background-color: var(--off-white);
    border: 2px solid var(--base-border);   
    border-radius: 2px;
    padding: 10px;
    margin: 2px;
}

.tale-block-bottom{
    display: flex;    
    justify-content: start;  
    align-items: center; 
    width: 100%;
    height: 15%;     
    margin: 1px;
}
.tale-block-bottom div{
    display: flex;    
    justify-content: center;  
    align-items: center; 
}
.tale-author{ 
    font-weight: bold;
    width: 50%; 
    height: 100%;
    background-color: var(--off-white);  
    border: 2px solid var(--base-border); 
    border-radius: 2px;
    margin: 1px;
}
.tale-views{
    width: 25%;
    height: 100%; 
    background-color: var(--off-white);
    border: 2px solid var(--base-border);   
    border-radius: 2px; 
    margin: 1px;
}
.tale-views svg{
    margin-right: 5px;
}

.tale-likes{
    width: 25%;
    height: 100%; 
    background-color: var(--off-white);
    border: 2px solid var(--base-border);   
    border-radius: 2px; 
    margin-left: 1px;
    margin-right: 3px;
}
.tale-likes a{
    text-decoration: none;
    color: var(--base-text);
}
.tale-likes svg{
    margin-right: 5px;
}

/* Full Tale Section*/
.fulltale-section{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.fulltale-block{
    padding: 0 10vw 0 10vw;
}
.fulltale-author{
    font-weight: bold;
    font-size: 125%;   
    color: var(--off-white);
    text-shadow: 0 2px 5px var(--text-shadows);    
    margin: 0 0 20px 0;
}
.edit-delete{
    color: var(--base-text);
    font-weight: bold;
    width: 80%;
    margin: auto;
    text-decoration: none;
    padding: 5px;
    border: 2px solid var(--off-white); 
    border-radius: 5px;  
    background-color: var(--button-bg);
    box-shadow: 0 2px var(--box-shadows);
}
.fulltale-publish-date{
    float: right;
    font-size: 75%;
}
.fulltale-views-likes{
    display: flex;    
    justify-content: space-around;
    background-color: var(--off-white);
    border: 2px solid var(--base-border);
    border-radius: 5px;
    width: 100%;
    padding: 5px;
    margin: 20px 0 10px 0;
}
.fulltale-views-likes div{
    margin: 5px 20px 5px 20px;
}
.fulltale-views{ 
    border-radius: 2px; 
    margin: 1px;
}
.fulltale-views svg{
    margin-right: 5px;
}
.fulltale-likes{
    border-radius: 2px; 
    margin-left: 1px;
    margin-right: 3px;
}
.fulltale-likes a{
    text-decoration: none;
    color: var(--base-text);
}
.fulltale-likes svg{
    margin-right: 5px;
}
.liked{
    color: var(--flashes);
}
.fulltale-content{
    background-color: var(--off-white);
    border: 2px solid var(--base-border);
    border-radius: 5px;
    padding: 15px;
    text-align: left;
    width: 100%;
    margin: 10px 0 10px 0;
}

/* New Tale Section*/
.newtale-link{
    display: flex;    
    flex-direction: column;
    align-items: center;
    margin: auto;
}
.newtale-link a{    
    color: var(--base-text);
    font-weight: bold;
    text-decoration: none;
    width: 50vw;
    padding: 2px;
    margin: 5px;
    border: 2px solid var(--off-white); 
    border-radius: 5px;  
    background-color: var(--button-bg);
}
.newtale-form-section{
    display: flex;    
    flex-direction: column;
    align-items: center;
}
.newtale-form-section p{
    margin: 10px;
    font-size: 125%;
    color: var(--off-white-text);
    text-shadow: 0 2px 5px var(--text-shadows);   
}
.newtale-form-section label{
    color: var(--off-white-text);
    text-shadow: 0 2px 5px var(--text-shadows);    
    font-size: large;
    font-weight: bold;
    margin: 20px;
}

.tale-form-inputs{
    margin: 5px;
}
.tale-form-inputs input{
    border: 2px solid var(--base-border);
    border-radius: 10px;
    background-color: var(--off-white);
    padding: 7.5px 15px 7.5px 15px;
    width: 80vw;    
    box-shadow: 0 2px var(--box-shadows);
}
.tale-form-inputs select{
    border: 2px solid var(--base-border);
    border-radius: 10px;
    background-color: var(--off-white);
    padding: 7.5px 15px 7.5px 15px;
    width: 80vw;    
    box-shadow: 0 2px var(--box-shadows);
}
.tale-form-submit input{
    color: var(--base-text);
    font-size: large;
    font-weight: bold;
    border: 2px solid var(--off-white);
    border-radius: 10px;
    background-color: var(--button-bg);
    padding: 7.5px 15px 7.5px 15px;
    width: 80vw;
    margin: 10px;
    box-shadow: 0 2px var(--box-shadows);
}
.tale-blurb{
    border: 2px solid var(--base-border);
    border-radius: 10px;
    background-color: var(--off-white);
    padding: 7.5px 15px 7.5px 15px;
    width: 80vw;
    height: 200px;    
    box-shadow: 0 2px var(--box-shadows);
}
.tale-content{
    border: 2px solid var(--base-border);
    border-radius: 10px;
    background-color: var(--off-white);
    padding: 7.5px 15px 7.5px 15px;
    width: 80vw;
    height: 600px;
    box-shadow: 0 2px var(--box-shadows);
}

/* Edit Tale Section*/
.edittale-form-section{
    display: flex;    
    flex-direction: column;
    align-items: center;
}
.edittale-form-section p{
    width: 80vw;
    margin: 10px;
    font-size: 125%;
    color: var(--off-white-text);
    text-shadow: 0 2px 5px var(--text-shadows);    
}
.edittale-form-section label{
    color: var(--off-white-text);
    text-shadow: 0 2px 5px var(--text-shadows);    
    font-size: large;
    font-weight: bold;
}
.delete{
    color: var(--off-white);
    font-weight: bold;
    width: 50vw;
    text-decoration: none;
    padding: 5px;
    margin: 5px 0 10px 0;
    border: 2px solid var(--off-white); 
    border-radius: 5px;  
    background-color: var(--flashes);
    box-shadow: 0 2px var(--box-shadows);
}

/* Delete Tale Section*/
.delete-section{
    display: flex;    
    flex-direction: column;
    align-items: center;    
}
.delete-section p{
    width: 80vw;
    margin: 10px;
    font-size: 125%;
    font-weight: bold;
    color: var(--off-white-text);
    text-shadow: 0 2px 5px var(--text-shadows);   
}
.delete-choices div{
    font-size: large;
    font-weight: bold;
    padding: 10px;
    border: 2px solid var(--off-white);  
    border-radius: 5px;
    margin: 20px;
    width: 60vw;
}
.delete-choices a{
    text-decoration: none;    
}
.delete-cancel{
    background-color: var(--button-bg);      
}
.delete-cancel a{
    color: var(--base-text);    
}
.delete-confirm{
    background-color: var(--flashes);
}
.delete-confirm a{
    color: var(--off-white);    
}

/* Login Section*/
.user-form-section{
    display: flex;    
    flex-direction: column;
    align-items: center;   
}
.user-form-section p{
    width: 80vw;
    margin: 30px;
    font-size: 125%;
    color: var(--off-white-text);
    text-shadow: 0 2px 5px var(--text-shadows);   
}
.user-form-section label{
    width: 60vw;
    margin: 10px;
    font-size: 125%;
    color: var(--off-white-text);
    text-shadow: 0 2px 5px var(--text-shadows);   
}
.register-link a{
    color: var(--button-bg);
}
.user-form-inputs{
    margin: 20px;
    width: 60vw;
}
.user-form-inputs input{
    border: 2px solid var(--base-border);
    border-radius: 10px;
    background-color: var(--off-white);
    padding: 7.5px 15px 7.5px 15px;
    width: 60vw;
}
.user-form-submit input{
    color: var(--base-text);
    font-size: large;
    font-weight: bold;
    border: 2px solid var(--off-white);
    border-radius: 10px;
    background-color: var(--button-bg);
    padding: 15px;
    width: 60vw;
    margin: 20px;
    box-shadow: 0 2px var(--box-shadows);
}

/* Register Section*/
.register-form-section{
    display: flex;    
    flex-direction: column;
    align-items: center;    
}
.register-form-section p{
    width: 80vw;
    margin: 30px;
    font-size: 125%;
    color: var(--off-white-text);
    text-shadow: 0 2px 5px var(--text-shadows);   
}
.register-form-section label{
    width: 60vw;
    margin: 10px;
    font-size: 125%;
    color: var(--off-white-text);
    text-shadow: 0 2px 5px var(--text-shadows);   
}
.register-form-inputs{
    margin: 20px;
    width: 80vw;
}
.register-form-inputs input{
    border: 2px solid var(--base-border);
    border-radius: 10px;
    background-color: var(--off-white);
    padding: 7.5px 15px 7.5px 15px;
    width: 80vw;
}
.register-form-submit input{
    color: var(--base-text);
    font-size: large;
    font-weight: bold;
    border: 2px solid var(--off-white);
    border-radius: 10px;
    background-color: var(--button-bg);
    padding: 15px;
    width: 80vw;
    margin: 20px;
    box-shadow: 0 2px var(--box-shadows);
}

/* Footer*/
.footer-link{
    background-color: var(--off-white);
}
.footer-link p{
    padding: 4px 0 4px 0;
}
.footer-link p a{
    color: var(--flashes);
}

/* Devices with width smaller than 600px*/
@media only screen and (max-width: 600px) {
    /* Site Logo and Title */
    .site-logo{
        width: 100%;
        flex-basis: 100%;
    }
    h1{
        margin: 0;    
        padding: 5px;
        float: none;
        font-weight: bold;
        font-size: 200%;
    }

    /* Navigation Bar */
    .navigation-bar{
        width: 100%;
    }
    .navigation-bar ul{ 
        width: 100%;
        justify-content: space-around;
        align-items: center;       
        list-style-type: none;
    }
    .navigation-bar ul li{ 
        justify-content: space-evenly;
        margin: 0;
        padding: 0;
    }

    h2{
        font-size: 125%;
        text-align: center;
    }

    /* Register and Log in Sections */
    .user-form-section p{
        width: 90vw;  
    }
    .user-form-section label{
        width: 90vw;  
    }
    .user-form-inputs{
        width: 90vw;
    }
    .user-form-inputs input{
        width: 90vw;
    }
    .user-form-submit input{
        width: 90vw;
    }

    /* New Tale and Edit Tale Sections */
    .newtale-link a{   
        width: 90vw;
    }    
    .tale-form-inputs input{
        width: 90vw;
    }
    .tale-form-inputs select{
        width: 90vw;
    }
    .tale-form-submit input{
        width: 90vw;
    }
    .tale-blurb{
        width: 90vw;
    }
    .tale-content{
        width: 90vw;
    }
    .edittale-form-section p{
        width: 90vw;  
    }
    .delete{
        width: 90vw;
    }
}