<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">    
    <meta name="description" content="Mini-Tales, Short Story Sharing">
    <meta name="keywords" content="mini tales, tales, stories, sharing, community, reading, writing">
    <!-- Font-Awesome link -->
    <script src="https://kit.fontawesome.com/d642f04513.js" crossorigin="anonymous"></script>
    <!-- Custom Stylesheet Link -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
    <!-- Favicon links-->    
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='images/favicon_io/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='images/favicon_io/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='images/favicon_io/favicon-16x16.png') }}">
    <link rel="manifest" href="{{ url_for('static', filename='images/favicon_io/site.webmanifest') }}">
    <title>Mini Tales</title>
</head>
<body>
    <div class="page-container">   
        <div class="background-overlay">      
            <header>
                <div class="site-logo">                    
                    <h1><a href="{{ url_for( 'tales.get_tales') }}"><img class="book-icon" src="{{ url_for('static', filename='images/book-icon.png') }}" alt="book icon">Mini Tales</a></h1> 
                </div>
                <!-- Navigation Bar - My Tales and Log Out links only show if a user is logged in -->
                <div class="navigation-bar">
                    <ul>
                        <li><a href="{{ url_for('tales.get_tales') }}">Explore Tales</a></li>
                        <!-- {% if session["logged_in"] %} -->
                        <li><a href="{{ url_for('tales.mytales', username=session['user']) }}">My Tales</a></li>
                        <li><a href="{{ url_for('authentication.logout') }}">Log out</a></li>
                        <!-- {% else %} -->
                        <li><a href="{{ url_for('authentication.login') }}">Log in</a></li>
                        <!-- {% endif %} -->
                    </ul> 
                </div>
            </header>
            
            <section>
                <!-- Flash Messages -->
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        {% for message in messages %}
                            <div class="flashes">
                                <h4 id="validation-flashes">{{ message }}</h4>
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
                <!-- Validation Messages -->
                <div id="validation-alert-container" class="validation-alert-container">
                    <h4 id="validation-alerts"></h4>
                </div>
            </section>
            
            <main>
                {% block content %}
                {% endblock %}  
            </main>
            
            
            {% block scripts %}
            {% endblock %}
        </div>
    </div>

    <footer>
        <!-- Credits link for website background image -->
        <div class="footer-link">
            <p><a href="https://www.freepik.com/free-vector/book-shelves-dtcorative-colorful-icon-poster_2871137.htm#query=books&position=7&from_view=search&track=sph">Background Image by macrovector</a> on Freepik</p>
            <p>Disclaimer: This website is created for project purposes only.</p>
            <p>Copyright <i class="fa-regular fa-copyright"></i> Adam Giles</p>
        </div>        
    </footer> 

    <!-- Validation Script Link -->
    <script src="{{ url_for('static', filename='js/validation.js') }}"></script>    
</body>
</html>